[
  {
    "model": "core.integrationsettings",
    "pk": 1,
    "fields": {
      "google_maps_api_key": "YOUR_GOOGLE_MAPS_API_KEY",
      "phone_provider_enabled": false,
      "phone_provider_recording_deletion_enabled": false,
      "phone_provider_base_url": null,
      "phone_provider_username": null,
      "phone_provider_password": null,
      "phone_provider_account_code": null
    }
  }
]
